{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "settings": {
    "import/ignore": [
      "node_modules"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  },
  "rules": {
    "import/extensions": [1, "always", {
      "js": "never",
      "jsx": "never"
    }],
    "import/no-unresolved": 1,
    "space-before-function-paren": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "off",
    "arrow-body-style": "off",
    "prettier/prettier": "error"
  },
  "plugins": [
    "prettier"
  ],

}